# NestJS App Port
PORT=3001

SUPABASE_URL=
SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=Mid-server-
NEXT_PUBLIC_MIDTRANS_IS_SANDBOX=true

DAILY_API_KEY=

# URL Frontend Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
